.headerInput {
    height: 60px;
    border-radius: 10px;
    background: #fff;
    flex: 1 1 auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 548px;
    outline: none;
}

.headerInput::placeholder {
    color: var(--second-text-color);
    font-size: 18px;
    font-weight: 300;
}
