.mainInput {
  height: 60px;
  border-radius: 10px;
  background: #fff;

  box-shadow: var(--shadow);
  padding: 20px;
  outline: none;
  font-size: 18px;
  font-weight: 300;
}

.mainInput::placeholder {
  color: var(--second-text-color);
}
