.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 325px;
  height: 280px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.card:hover .backgroundContainer {
  transform: scale(1.25);
}

.backgroundContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transition: transform 0.5s;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  padding: 10px 15px;
  gap: 10px;
  width: 100%;
  height: 83px;
  background: var(--bg-card-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.h2 {
  white-space: nowrap;
  overflow: hidden;
  color: var(--main-text-color);
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 900;
  width: 211px;
  flex-grow: 1;
}

.date {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 300;
}

.date::first-letter {
  text-transform: uppercase;
}

.wrapperDescription {
  min-width: 250px;
  height: 32px;
  flex-grow: 1;
}

.description {
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text);
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .card {
    flex-basis: 412px;
    height: 364px;
  }
  .footer {
    margin-top: auto;
    border-radius: 10px;
  }
}

@media (max-width: 1023px) {
  .card {
    flex-basis: 278px;
    height: 260px;
  }
  .footer {
    margin-top: auto;
    border-radius: 10px;
    height: 79px;
    padding: 10px 15px 0 15px;
    gap: 0;
  }

  .description {
    font-size: 12px;
  }

  .hWrapper {
    gap: 10px;
    margin-bottom: 10px;
  }

  .date {
    font-size: 12px;
    white-space: nowrap;
  }

  .circle {
    flex-shrink: 0;
  }
}
