.textarea {
  width: 100%;
  min-height: var(--textarea-min-height, 400px);
  resize: none;
  transition: min-height 0.5s;
  border-radius: 12px;
  padding: 20px;
  font-size: 18px;
  outline: none;
  overflow-y: hidden;
  box-shadow: var(--shadow);
}
