@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Roboto:wght@300;700;900&display=swap');
@import './vars.css';

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: 'Roboto', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.App {
  padding: 40px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdfcf3;
}

@media (max-width: 1440px) {
  .App {
    padding: 40px 80px;
  }
}

@media (max-width: 1024px) {
  .App {
    min-width: 320px;
    padding: 20px;
  }
}
