.modalBlock {
    opacity: 0;
    transition: opacity linear 0.5s;
}

.modalBlockActive {
    opacity: 1;
}

.blackout {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.window {
    /* width: 1360px; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    left: 40px;
    right: 40px;
    /* left: 50%;
   margin-left: -680px;*/
    top: 50%;
    margin-top: -450px;


}


.modal {
    overflow: auto;
    position: relative;
    min-width: 1360px;
    width: 100%;
    /* max-width: 1440px; */
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
    gap: 20px;
    background: linear-gradient(112.95deg, #FFFFFF 0%, #F0F0F0 99.94%);

}

.closeBtn {
    position: absolute;
    background-color: unset;
    top: 45px;
    right: 45px;
    cursor: pointer;
}

.titleBlock {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 32, 34, 1);
}

.emoji {
    position: relative;
    top: -18px;
    width: 24px;
    height: 24px;
    transform: scale(2);
}

.content {
    display: grid;
    grid-template-columns: 58% 39%;
    gap: 40px;
}

.date {
    display: block;
    margin-bottom: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(153, 153, 153, 1);
}

.text {
    width: 100%;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 32, 34, 1);

}

.imgBlock {
    width: 100%;
    height: 748px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}