.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.mainBlock {
  display: flex;
  align-items: flex-start;
  flex: 1 1 100%;
}

.mainBlockInput {
  display: flex;
  gap: 20px;
  flex: 1 1 100%;
}

.buttonBlock {
  position: absolute;
  top: 0;
  right: 0;
}

.headerInput {
  flex: 1 1 auto;
  max-width: 548px;
}

@media (max-width: 1439px) {
  .mainBlock {
    flex-direction: column;
    row-gap: 40px;
  }

  .mainBlockInput {
    width: 100%;
  }

  .headerInput {
    max-width: unset;
  }
}

@media (max-width: 1023px) {
  .header {
    margin-bottom: 20px;
  }

  .mainBlock {
    row-gap: 20px;
  }

  .headerInput {
    height: 40px;
    padding: 10px;
    font-size: 12px;
  }

  .headerButton {
    height: 40px;
    width: 40px;
    padding: 0;
  }

  .headerButton svg {
    width: 20px;
    height: 20px;
  }

  .headerButton h4 {
    display: none;
  }
}
