.img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: var(--shadow);
  display: block;
  cursor: pointer;
}
.selected {
  display: chocolate;

}
.disabled {
  background-color: #626161;
}
.selectOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.hiddenImg {
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

