.circle {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  padding-top: 1px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.circleBig {
  top: 68px;
  right: 73px;
  transform: scale(2.5);
}
