.emoji_small {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 14px;
  top: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
}

.emoji_big {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40.5px 42.91px 0 0;
  line-height: 20px;
  font-size: 20px;
  width: 97.087px;
  height: 97.087px;
  border-radius: 65px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.emoji_big > p {
  color: #000;
  font-size: 48px;
  font-weight: 700;
}